<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>NBA Stats</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/stsm.css" th:href="@{/css/stsm.css}"/>
    
  </head>

  <body>

    <div>
      <img src="/images/stsmlogo.png" alt="STSM logo" title="STSM logo" 
           th:src="@{/images/nbastats.PNG}" th:alt-title="#{title.application}" width="400" height="210"/>
    </div>
      
    <div>
    
      <h2>Find new NBA Player</h2>
      
      <form action="#" th:action="@{/basketball/createPlayer/}" method="POST" th:object="${player}">
    
        <fieldset>
          
          <legend>Enter Data</legend>

          <ul th:if="${#fields.hasErrors('*')}" class="errorlist">
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
          </ul>

          
          <div>
            <label for="first_name">
              <span>First Name</span>
            </label>
            <input type="text" th:field="*{first_name}" />
          </div>
          
          <div>
            <label for="last_name">
              <span>Last Name</span>
            </label>
            <input type="text" th:field="*{last_name}" />
          </div>

          <div class="submit">
            <button type="submit" name="save">Find Player</button>    
          </div>
        
        </fieldset>
          
      </form>
 
    </div>

  </body>
</html>