<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>NBA Stats</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/stsm.css" th:href="@{/css/stsm.css}"/>
  </head>

  <body>      

    <a th:href="@{/basketball/player}">
      <img src="/images/stsmlogo.png" alt="STSM logo" title="STSM logo"
           th:src="@{/images/nbastats.PNG}" th:alt-title="#{title.application}" width="400" height="210"/>
    </a>
      
    <div>
        
        <div class="row m-4">
            <div class="col text-center border border-dark">
                <h1>Success!</h1>
            </div>
            <br>           
        </div>
        
        <div class="row m-4">
            <p>
                
            </p>
        </div>
    
      <h2>Player: <span th:text="${player.first_name}"></span> <span th:text="${player.last_name}"></span></h2>
      
      <form action="#" th:action="@{/basketball/findStatsForYear/} + ${player.id}" method="POST" th:object="${game}">
    
        <fieldset>
          
          <legend>Enter Year</legend>

          <ul th:if="${#fields.hasErrors('*')}" class="errorlist">
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
          </ul>
          
          <div>
            <label for="last_name">
              <span>Year (YYYY)</span>
            </label>
            <input type="text" th:field="*{date}" />
          </div>

          <div class="submit">
            <button type="submit" name="save">Submit</button>    
          </div>
        
        </fieldset>
          
      </form>
 
    </div>

  </body>
</html>